<div style="padding: 20px; padding-top: 0px;;">
    <h2>
        Liste des espèces
    </h2>
    <p style="margin-top: -10px;;">
        Espèces soumises à notre étude
    </p>
    <div class="row" style="margin-bottom: 40px; margin-top: 20px;;;">
        <div *ngFor="let espece of especes" class="col-lg-4">
            <div (click)="editEspece(espece)" style="padding: 10px; cursor: pointer; text-align: center;; border: 1px solid #444;">
                <h4>
                    {{espece.nom}}
                </h4>
            </div>
        </div>
    </div>
</div>