<div class="row" style="height: 100vh; overflow: hidden;">
    <div class="cell-4" style="height: 100vh">
        <div class="row" style="height: 100vh; margin-top: -10px;; padding: 0">
            <div class="cell-2" style="height: 110vh; background-color: black">
                <h3 style="text-align: center">

                    <fa style="color: white" name="bars"></fa>
                </h3>
            </div>
            <div class="cell-10"
                style="height: 110vh; padding: 20px; padding-bottom: 10vh; overflow: auto;; padding-top: 5px; background-color: #004578; color: #fff">

                <h4>
                    Structure du document
                </h4>
                <ul>
                    <li>
                        Sommaire
                    </li>
                    <li>
                        Table des illustrations
                    </li>
                    <ng-container *ngFor="let section of document.sections">
                        <li *ngIf="section.titre">
                            {{section.titre}}
                            <ul style="margin-left: 10px;" *ngIf="hasSousTitre(section)">
                                <ng-container *ngFor="let sous of section.contenu">
                                    <li *ngIf="sous.titre">
                                        {{sous.titre}}
                                        <ul *ngIf="hasSousTitre(sous)">
                                            <ng-container *ngFor="let s of sous.contenu">
                                                <li *ngIf="sous.titre">
                                                    {{s.titre}}
                                                </li>
                                            </ng-container>
                                        </ul>
                                    </li>
                                </ng-container>
                            </ul>
                        </li>
                    </ng-container>
                    <li>
                        Bibliographie automatique
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="cell-8"
        style="height: 100vh; overflow: auto; padding: 30px; padding-top: 0px ; background-color: #fafafa">
        <div *ngIf="!apercu" style="">
            <div style="cursor: pointer" (click)="editDocument()">
                <h4>
                    {{document.titre ? document.titre: 'Nouveau document'}}
                </h4>
                <p class="text-leader2" style="margin-top: -12px;">
                    {{document.description ? document.description: 'Aucune description'}}
                </p>
                <div style="margin-top: 5px;">
                    Créé le
                    <b>{{document.date | date:'dd-MM-yyyy'}}</b>
                    par
                    <b>{{document.proprietaire.nomComplet}}</b>
                </div>
            </div>
            <div class="row" style="margin-top: 10px; margin-left: 1px;">
                <button (click)="enregistrer()" class="button muanza" style="margin-right: 10px;">
                    <span class="mif-floppy-disk" style="margin-right: 5px;"></span>
                    Enregistrer
                </button>
                <button (click)="addSection()" class="button muanza" style="margin-right: 10px;">
                    <span class="mif-plus" style="margin-right: 5px;"></span>
                    Ajouter un grand titre
                </button>
                <button (click)="editDocument()" class="button muanza" style="margin-right: 10px;">
                    <span class="mif-pencil" style="margin-right: 5px;"></span>
                    Modifier les infos générales
                </button>
                <button (click)="voir()" class="button muanza" style="margin-right: 10px;">
                    <span class="mif-eye" style="margin-right: 5px;"></span>
                    Aperçu
                </button>
            </div>
            <div class="row" style="margin-top: 20px">
                <div class="cell-12" *ngFor="let section of document.sections">
                    <div style="padding: 5px; padding-left: 10px; padding-right: 10px; border: 1px solid #004500">
                        <b class="titre" (click)="edit_section()">
                            {{section.titre}}
                        </b>
                        <span style="margin-left: 10px;">
                            {{section.utilisateur ? section.utilisateur.nomComplet: 'Aucun responsable'}}
                        </span>
                        <span style="float: right;">
                            <span *ngIf="!section.valide" style="margin-right: 20px;" class="bouton" (click)="valider(section)">
                                <fa name="check"></fa>
                            </span>
                            <span *ngIf="section.valide" style="margin-right: 20px; color:lightskyblue" class="bouton" (click)="unValider(section)">
                                <fa name="check"></fa>
                                <fa name="check" style="margin-left: -8px;;"></fa>
                            </span>
                            <span style="margin-right: 20px;" class="bouton" (click)="editSection(section)">
                                <fa name="pencil"></fa>
                            </span>
                            <span class="bouton" (click)="supprimer(section)">
                                <fa name="trash"></fa>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px">
                <ng-container *ngFor="let section of document.sections">
                    <div *ngIf="section.utilisateur" class="cell-4">
                        <div style="padding: 10px; border: 1px solid #aaa">
                            {{section.utilisateur.nomComplet}}<br>
                            <b>{{section.titre}}</b>
                        </div>
                    </div>
                </ng-container>
            </div>

        </div>

        <div *ngIf="apercu" style="padding: 10px; padding-top:20px;">
            <div style="margin-bottom: 20px">
                <button (click)="unVoir()" class="button muanza">
                    Fermer l'aperçu
                </button>

                <button class="button primary" (click)="exportToWord()">
                    Export to word
                </button>
            </div>

            <app-document-view [document]="document">

            </app-document-view>
        </div>

    </div>
</div>

<div style="position:fixed; top:-15px; right: 20px; width: 25vw; text-align: right">
    <div class="row">
        <div class="cell-10" style="border: 0px solid #000; padding-top: 25px;">
            <b style="margin-left: 0px; font-size: 1.2em">
                Nom d'utilisateur
            </b>
            <div style="margin-top: -5px;">
                Qualité
            </div>
        </div>
        <div class="cell-2" style="border: 0px solid #000">
            <h1 class="">
                <fa name="user" style="color: #004578"></fa>
            </h1>
        </div>

    </div>
</div>