<div>
    <div style="padding:20px; margin-top: 0px;;">
        <div style="min-height: 100vh; padding: 10px; padding-left: 20px; padding-right: 20px;">
            <ng-container *ngFor="let section of document.sections">
                <ng-container *ngIf="section.id === sectionConcernee.id">
                    <h1 (click)="edit(section)">
                        {{section.titre}}
                    </h1>
                    <ng-container *ngFor="let sous of section.contenu">

                        <h2 *ngIf="sous.titre" (click)="edit(sous)">
                            {{sous.titre}}
                        </h2>
                        <div *ngIf="sous.titre && editcode === sous.id">
                            <div style="margin-top: 10px;;">
                                <button (click)="valider(sous)" class="button"
                                    style="background-color: #004578; color: #fff;">
                                    Valider cette section
                                </button>
                                <button (click)="addCommentaire(sous)" class="button primary">
                                    Envoyer un commentaire
                                </button>
                            </div>
                        </div>

                        <div *ngFor="let com of sous.commentaires" class=""
                            style="background-color: #eee; ; border:1px solid #aaa; padding: 5px; padding-left: 15px; margin-top:10px;">
                            <div class="row">
                                <div class="cell-12">
                                    <b>
                                        {{com.utilisateur.nomComplet}}
                                    </b>
                                    : "{{com.discours}}"
                                </div>
                            </div>
                        </div>

                        <p class="text-leader2" *ngIf="sous.texte" (click)="edit(sous)">
                            {{sous.texte}}
                        </p>
                        <div *ngIf="sous.texte && editcode === sous.id" style="margin-top: 10px;;">
                            <textarea type="text" [(ngModel)]="sous.texte" data-role="textarea"></textarea>
                        </div>

                        <div *ngIf="sous.legende" style="text-align: center; margin: 20px;">
                            <img [src]="sous.src" style="width: 50%; border: 1px solid #777;">
                            <div style="padding: 5px;">
                                {{sous.legende}}
                            </div>
                        </div>
                        <ng-container *ngFor="let s of sous.contenu">
                            <h3 *ngIf="s.titre" (click)="edit(s)">
                                {{s.titre}}
                            </h3>
                            <div *ngIf="s.titre && editcode === s.id">
                                <div>
                                    <input type="text" [(ngModel)]="s.titre" data-role="input">
                                </div>
                                <div style="margin-top: 10px;;">
                                    <button (click)="saveSection()" class="button"
                                        style="background-color: #004578; color: #fff;">
                                        Enregistrer
                                    </button>
                                    <button (click)="addSection(s)" class="button primary">
                                        Ajouter un sous-titre
                                    </button>
                                    <button (click)="addParagraphe(s)" class="button primary">
                                        Ajouter un paragraphe
                                    </button>
                                    <button class="button primary">
                                        Ajouter une image
                                    </button>
                                </div>
                            </div>
                            <p class="text-leader2" *ngIf="s.texte" (click)="edit(s)">
                                {{s.texte}}
                            </p>
                            <div *ngIf="s.texte && editcode === s.id" style="margin-top: 10px;;">
                                <textarea type="text" [(ngModel)]="s.texte" data-role="textarea"></textarea>
                            </div>
                            <div *ngIf="s.legende" style="text-align: center; margin: 20px;">
                                <img [src]="s.src" style="width: 50%; border: 1px solid #777;">
                                <div style="padding: 5px;">
                                    {{s.legende}}
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>

<div id="commentaire" class="dialog" data-role="dialog" data-close-button="true" data-width="800">
    <form [formGroup]="commentaireForm" (ngSubmit)="onSubmitCommentaireForm()">
        <div class="dialog-title">
            Ajouter un commentaire
        </div>
        <div class="dialog-content">
            <div style="margin-bottom: 10px;">
                <textarea formControlName="discours" data-role="textarea">

                </textarea>
                <small>Le commentaire sera visible par le contributeur de la section</small>
            </div>
        </div>
        <div class="dialog-actions">
            <button [disabled]="commentaireForm.invalid" style="background-color: #004578; color: #fff"
                class="button js-dialog-close">
                Terminé
            </button>
            <button class="button js-dialog-close">Annuler</button>
        </div>
    </form>
</div>