<div class="row" style="height: 100vh">
    <div class="cell-6" style="height: 100vh; background-color: #004578">
        <div class="animated slideInLeft" style="padding: 40px; padding-top: 40px;">
            <h1 class="display4" style="color: #fcfcfc">
                ACNP
            </h1>

            <h1 style="color: #ccc; width: 90%;">
                Application de génération automatique de documents
            </h1>
        </div>
        <div style="position: absolute; padding: 40px; bottom: 0; left: 0; color: #aaa;">
            &copy; ANAFOR
        </div>
    </div>
    <div class="cell-6" style="height: 100vh; background-color: #fafafa">
        <div class="animated slideInDown" style="padding: 40px; padding-top: 20px;">
            <p class="text-leader" style="margin-bottom: 20px;">
                Veuillez vous connecter !
            </p>
            <form [formGroup]="connexionForm" (ngSubmit)="onSubmitConnexionForm()">
                <div class="row">
                    <div class="cell-5">
                        <input type="text" formControlName="login" placeholder="Login" data-role="input">
                    </div>
                    <div class="cell-5">
                        <input type="password" formControlName="passe" placeholder="Mot de passe" data-role="input">
                    </div>
                    <div class="cell-2">
                        <button type="submit" [disabled]="connexionForm.invalid" class="button"
                            style="color: #fff; background-color: #005A9E; border-color: #004578">
                            Connexion
                        </button>
                    </div>
                </div>
            </form>

            <div class="animated fadeIn delay-1s" style="margin-top: 40px; border: 1px solid #aaa; padding: 20px;">
                <small>
                    Si vous ne disposez par de compte, veuillez contacter le responsable du projet 
                </small>
            </div>
        </div>

    </div>

</div>