<div style="min-height: 100vh; background-color: #fff; padding: 10px; padding-left: 20px; padding-right: 20px;">
    <ng-container *ngFor="let section of document.sections">
        <h1>
            {{section.titre}}
        </h1>
        <ng-container *ngFor="let sous of section.contenu">
            <h2 *ngIf="sous.titre">
                {{sous.titre}}
            </h2>
            <p class="text-leader2" *ngIf="sous.texte">
                {{sous.texte}}
            </p>
            <div *ngIf="sous.legende">
                Une image ici
            </div>
            <ng-container *ngFor="let s of sous.contenu">
                <h3>
                    {{s.titre}}
                </h3>
            </ng-container>
        </ng-container>

    </ng-container>

</div>