<div class="row" style="height: 100vh">
    <div class="cell-3" style="height: 100vh; overflow: hidden; background-color: #004578; color:#fff;">
        <div class="row">
            <div class="cell-2" style="height: 110vh; margin-top: -20px; background-color: #111; padding-top: 20px;">
                <div style="height: 100vh;">

                    <h4 (click)="nouveauEspece()" title="Nouvelle espèce" class="text-center pointeur"
                        style="margin-bottom: 20px; cursor: pointer">
                        <fa name="plus-square"></fa>
                    </h4>
                    <h4 (click)="nouveauUtilisateur()" title="Nouvel utilisateur" class="text-center pointeur"
                        style="cursor: pointer">
                        <fa name="user-plus"></fa>
                    </h4>
                    <div style="position: absolute; bottom:20px;; width: 100%; left: 0;">
                        <h4 (click)="changerPasse()" title="Changez de mot de passe"
                            style="cursor: pointer; margin-bottom: 30px;;" class="text-center pointeur">
                            <fa name="lock"></fa>
                        </h4>
                        <h4 (click)="deconnexion()" title="Déconnexion" style="cursor: pointer"
                            class="text-center pointeur">
                            <fa name="power-off"></fa>
                        </h4>
                    </div>
                </div>

            </div>
            <div class="cell-10">
                <div style="padding: 15px; padding-top: 0px;">
                    <h1 style="margin-top: 0px;">
                        ACNP
                    </h1>

                    <h4>
                        Paramètres
                    </h4>
                    <ul style="list-style: none; padding: 0; margin: 0;">
                        <li (click)="listUtilisateur()" style="padding-bottom: 10px; ; border-bottom: 1px solid #eee;">
                            <span style="margin-left: 0px; display: inline-block;">
                                <span class="text-leader2">
                                    Utilisateurs
                                </span>
                            </span>
                        </li>
                        <li (click)="listEspece()" style="padding-bottom: 10px; ; border-bottom: 1px solid #eee;">
                            <span style="margin-left: 0px; display: inline-block;">
                                <span class="text-leader2">
                                    Espèces
                                </span>
                            </span>
                        </li>
                    </ul>
                </div>
                <div style="position: absolute; padding: 20px; bottom: 0; left: 0">
                    &copy; ANAFOR
                </div>

            </div>
        </div>

    </div>
    <div class="cell-9" style="height: 100vh; overflow: auto; background-color: #fafafa">
        <router-outlet></router-outlet>
    </div>
</div>


<div *ngIf="utilisateur" style="position:fixed; top:-15px; right: 20px; width: 25vw; text-align: right">
    <div class="row">
        <div class="cell-10" style="border: 0px solid #000; padding-top: 25px;">
            <b style="margin-left: 0px; font-size: 1.2em">
                {{utilisateur.nomComplet}}
            </b>
            <div style="margin-top: -5px;">
                {{utilisateur.qualite}}
            </div>
        </div>
        <div class="cell-2" style="border: 0px solid #000">
            <h1 class="">
                <fa name="user" style="color: #004578"></fa>
            </h1>
        </div>

    </div>
</div>